<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<body>
<fieldset>
    <legend>注册</legend>
    <input type="text" placeholder="输入用户名" class="userName">
    <br>
    <input type="password" placeholder="输入密码" class="pwd" maxlength="15">
    <br>
    <input type="password" placeholder="再次输入密码" class="rePwd"  maxlength="15">
    <br>
    <button class="btn">注册</button>
</fieldset>
<div class="register-success">注册成功!</div>
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/js/register.js"></script>
</body>
</html>